////////////
//Histogram
#histograms
  height: 400px
.histogram
  box-sizing: border-box  
  border: 1px solid black
  position: relative
  rect
    fill: gray
    stroke: black
  .label
    position: absolute
    top: 1em
    right: 1em
    z-index: 10

.axis
  rect 
    fill: black
  text
    fill: black
  line
    stroke: black
    shape-rendering: crisp-edges  

//Center histograms and axis on the page
.histogram, .axis
  display: block
  margin: auto


.abscissa
  margin-top: 10px

  text
    dominant-baseline: hanging
    text-anchor: middle

.ordinate
  text
    dominant-baseline: middle
    text-anchor: end


////////////
//Controls

#file-selector
  display: -webkit-box
  -webkit-box-align: center
  margin-bottom: 0.5em
  select
    -webkit-box-flex: 1
    display: -webkit-box

#range-selector
  height: 20px
  display: block
  margin: auto
