/* Styles for the mini-histograms / metric selectors sidebar

  

.mini-hist
  height: 150px
  border: 1px solid gray
  path
    fill: none
    stroke: black

.metric.disabled
  background-color: gray
  .mini-hist
    display: none

.metric.selected
  background-color: rgba(255,255,255, 0.5)
