//CSS for Closure library TwoThumbSlider.

.goog-twothumbslider-horizontal
  background-color: gray
  position: relative
  overflow: hidden

  .goog-twothumbslider-value-thumb, .goog-twothumbslider-extent-thumb
    position: absolute
    box-sizing: border-box
    border: 1px solid black
    background-color: lightGray
    overflow: hidden
    width: 20px
    height: 100%

