$background-color: #F4F4DD

@import "histogram"
@import "slider"


body
  background-color: $background-color
  font-size: 12px
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

section
  overflow: visible

#user-dropdown
  &:before
    content: "Logged in as: "



