$background-color: #F4F4DD

@import "histogram"
@import "slider"
@import "mini_metrics"


body
  background-color: $background-color
  font-size: 12px
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

section
  overflow: visible

#user-dropdown
  &:before
    content: "Logged in as: "



.hist-view
  width: 600px
.range
  height: 20px

.hist
  .bar
    fill: none
    stroke: black


