$background-color: #F4F4DD

@import "histogram"
@import "slider"
@import "brush"
@import "mini_metrics"


body
  background-color: $background-color
  font-size: 12px
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

section
  overflow: visible

#user-dropdown
  &:before
    content: "Logged in as: "

#file-selector
  display: -webkit-box
  -webkit-box-align: center
  margin-bottom: 0.5em
  select
    -webkit-box-flex: 1
    display: -webkit-box
