!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %link(rel="stylesheet" type="text/css" href="vendor/bootstrap/bootstrap.css")
    %link(rel="stylesheet" type="text/css" href="style.css")
    %script(src="vendor/jquery-1.7.2.js")
    %script(src="vendor/chosen/chosen.jquery.js")
    %script(src="vendor/bootstrap/bootstrap-tooltip.js")
    %script(src="vendor/bootstrap/bootstrap-popover.js")
    %link(rel="stylesheet" type="text/css" href="vendor/chosen/chosen.css")

  %body
    .container
      %section#main
        .row
          .span12
            %svg#histogram
        .row
          .span8
            .well
              %label VCF files
              .file-selectors
          .span4
            .well
              %label Metrics
              #metrics
              -# - %w(Qual Metric2 Metric3).each do |m|
              -#   %label.radio
              -#     %input(type="radio" name="metric-type")
              -#     = m

    %script(src="vcf.js")
