!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %link(rel="stylesheet" type="text/css" href="vendor/bootstrap/bootstrap.css")
    %link(rel="stylesheet" type="text/css" href="style.css")
    %script(src="vendor/jquery-1.8.0.min.js")
    %script(src="vendor/jquery-ui-1.8.23.custom.min.js")
    %script(src="vendor/chosen/chosen.jquery.js")
    %script(src="vendor/bootstrap/bootstrap-tooltip.js")
    %script(src="vendor/bootstrap/bootstrap-popover.js")
    %script(src="vendor/bootstrap/bootstrap-dropdown.js")
    %script(src="vendor/crossfilter.js")

    %link(rel="stylesheet" type="text/css" href="vendor/chosen/chosen.css")

  %body
    .navbar#navbar
      .navbar-inner
        .container
          %a.brand VCF Visualizer
          %ul.nav.pull-right
            %li.dropdown
              %a.dropdown-toggle#user-dropdown(href="#" data-toggle="dropdown")
                USER
                %b.caret
              %ul.dropdown-menu
                %li
                  %a#btn-logout(href="/logout") Logout
    .container

      %section
        .row
          .span12
            #main-hist
              #histograms
              #hist-axis

        .row.controls
          .span8
            .well
              %label VCF files
              #file-selector
          .span8
            %span#count

      %section
        .row
          .span6
            #metrics


    %script(src="vcf.js")
