!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %link(rel="stylesheet" type="text/css" href="vendor/bootstrap/bootstrap.css")
    %link(rel="stylesheet" type="text/css" href="style.css")
    %script(src="vendor/jquery-1.7.2.js")
    %script(src="vendor/chosen/chosen.jquery.js")
    %script(src="vendor/bootstrap/bootstrap-tooltip.js")
    %script(src="vendor/bootstrap/bootstrap-popover.js")
    %script(src="vendor/bootstrap/bootstrap-dropdown.js")
    %link(rel="stylesheet" type="text/css" href="vendor/chosen/chosen.css")

  %body
    .navbar#navbar
      .navbar-inner
        .container
          %a.brand VCF Visualizer
          %ul.nav.pull-right
            %li.dropdown
              %a.dropdown-toggle#user-dropdown(href="#" data-toggle="dropdown")
                USER
                %b.caret
              %ul.dropdown-menu
                %li
                  %a#btn-logout(href="/logout") Logout
    %section
      .container
        .row#histograms
        .row
          .span12
            #range-selector

        .row.controls
          .span8
            .well
              %label VCF files
              #file-selector
          .span4
            .well
              %label Metrics
              #metrics


    %script(src="vcf.js")
