<div class="row container">
  <div class="span12">
  <p class="lead">
    Aahru: variant visualization and analysis
  </p>
  <p>
    Aahru is a web-based platform to interactively explore and
    analyze human variation data. It easily interoperates with analysis
    frameworks like <a href="https://main.g2.bx.psu.edu/">Galaxy</a>
    and <a href="http://www.genomespace.org/">GenomeSpace</a> to
    supplement existing tools with a reactive, intuitive way to
    identify biologically relevant changes.
  </p>
  <p>
    It is an <a href="https://github.com/lynaghk/vcf">open source, freely available</a>
    platform, extending some great biological software:

    <ul>
      <li><a href="http://www.broadinstitute.org/gatk/">GATK</a>: The
      Genome Analysis Toolkit from the Broad Institute
      <li><a href="https://github.com/arq5x/gemini">gemini</a>: a
      framework for mining genome variation, from the Quinlan lab
      <li><a href="http://www.ensembl.org/info/docs/variation/vep/index.html">
          Variant Effect Predictor</a>: predicts functional
          consequences of variants, from the Ensembl team
      <li><a href="https://github.com/chapmanb/bcbio.variation">bcbio.variation</a>:
      a toolkit to compare and consolidate variation calls from
      multiple sources, developed at Harvard School of Public Health
    </ul>
  </p>
  </div>
</div>
