<div class="row container">
  <div class="span12">
  <p class="lead">
    Variant scoring for the
    <a href="http://genomics.xprize.org/">Archon Genomics XPrize</a>
  </p>
  <p>
      Follow this
      <a href="http://www.youtube.com/watch?v=hQquq5Yos0Y">
        how-to video</a>
      and submit your variant calls for scoring in 3 simple steps:
   </p>
      <ol>
        <li>Upload your variant VCF file, and optionally a BED
          file of regions to score, to
          <a href="http://www.genomespace.org/">GenomeSpace</a>
          or <a href="https://main.g2.bx.psu.edu/">Galaxy</a>.
        <li>Login below with your GenomeSpace username and password
          or Galaxy server information and API key.
        <li>Select uploaded files, click
          score, and wait for your variant comparisons and statistics.
      </ol>
  </div>
</div>
